app-side-nav {
    position: absolute;
    left: 0rem;
    width: 250px;
    height: calc(100vh - 4rem);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    background-color: rgba(34, 34, 34, 1);
    border-top: 1px solid white;
}

table {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  table thead {
    background-color: transparent;
  }
  
  table tbody td:last-child {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  }
  
  .displey-area {
    position: absolute;
    left: 250px;
    right: 0;
    overflow-x: auto;
  }
  
  @media (max-width: 768px) {
    .displey-area {
      left: 0;
    }
  }

  .btn-acoes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-acoes button {
    margin-right: 5px;
  }
  